body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(232, 40, 40);
}
.container{
    background-color: aliceblue;
    width: 400px;

   
  
}
h1{
   text-align: center;
  padding-top: 10px;
    
}
button{
    width: 300px;
    margin-left: 50px;
    padding: 4px;
    border-radius: 3px;
    background-color: rgb(232, 40, 40);
    color: antiquewhite;
    margin-bottom: 10px;
}
.image{
    display: flex;
    align-items: center;
}
img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
   margin-left: 20px;
}
.data{
    margin-left: 50px;
}